/* Box model reset */
manyways-wrapper {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* Body and typography */
body {
  scroll-behavior: smooth;
  margin: 0 !important;
  font-size: var(--font-size-base);
  color: var(--color-text);
  max-width: 100%;
  max-height: 100%;
  overflow-x: hidden;
  font-family: var(--font-family);
  font-weight: 400;
}

a {
  overflow-wrap: break-word;
  word-wrap: break-word;
}

a,
a:visited {
  color: var(--color-text);
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

/* Containers */
.mw-journey-container {
  position: relative;
  max-width: 100%;
  width: 100%;
}

.mw-journey-container header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 100%;
  overflow: hidden;
  /* height: var(--header-height); */
  padding: 0.75rem 0;
  z-index: 11;
}

.mw-container {
  position: relative;
  width: 100%;
  max-width: 1210px;
  height: 100%;
  margin: auto;
  /* padding: var(--content-padding-y) var(--content-padding-x); */
}

.is-full-screen-true .mw-container {
  min-height: 100vh;
  display: flex;
}

.mw-logo {
  height: 100%;
  width: auto;
  object-fit: contain;
}

/* .mw-node {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
} */

/* .mw-form {
  max-width: var(--content-width-form);
  width: 100%;
} */

.mw-form #root {
  max-width: 100%;
  border: 0;
  padding: 0;
}

header .mw-container {
  padding: 0 var(--content-padding-x);
}

.mw-container-footer {
  max-width: var(--content-width);
  margin: auto;
  padding: var(--content-padding-y) var(--content-padding-x);
}
