/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


/* Variables */
:root {
  --content-width: 1200px;
  --content-width-form: 65ch;
  --header-height: 80px;
  --font-size-base: 1rem;
  --font-size-base-mobile: 1rem;
  --font-family: "Open Sans", sans-serif;

  /* Colors */
  --color-dark: #222222;
  --color-text: #222222;
  --color-medium: #e0ded1;
  --color-light: #f8f8f1;
  --color-accent: #3158f1;
  --color-select: #3158f1;
  --color-select-light: #f5f6ff;
  --color-select-dark: #3158f1;

  /* Grid spacing */
  --grid-gap-large: 3rem ;
  --grid-gap-default: 5px;
  --grid-gap-small: 1rem ;
  --container-padding-x: 0 ;
  --container-padding-y: 0 ;
  --content-padding-x: 1rem ;
  --content-padding-y: 0rem ;

  /* Border */
  --border-width: 1px ;
  --border-radius: .25rem;
  --border-radius-button: 25px ;
  --border-radius-input: .25rem ;
  --border-color: var(--color-medium) ;
  --border-outline: 0px;

  /* Buttons --> to do */
  --button-text: #222222;
  --button-background: #222222;
  --button-bacgkround-hover: #222222;
  --button-text-hover: #222222;

    /* Journey Alignment */
    --container-alignment-y: "center";
    --container-alignment-x: "center";
}

/* Box model reset */
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* Body and typography */
html,
body {
  scroll-behavior: smooth;
  margin: 0;
  font-size: var(--font-size-base);
  color: var(--color-text);
  max-width: 100%;
  max-height: 100%;
  overflow-x: hidden;
  font-family: var(--font-family);
  font-weight: 400;
}

a,
a:visited {
  color: var(--color-text)
}

p {
  color: var(--color-text)
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

/* Containers */
.mw-journey-container {
  position: relative;
  max-width: 100%;
  width: 100%;
}

.mw-journey-container header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 100%;
  overflow: hidden;
  height: var(--header-height);
  padding: .75rem 0;
  z-index: 4;
}

.mw-container {
  position: relative;
  width: 100%;
  max-width: var(--content-width);
  height: 100%;
  margin: auto;
  padding: var(--content-padding-y) var(--content-padding-x);
}

.is-full-screen-true .mw-container {
  min-height: 100vh;
  display: flex;
}

.mw-logo {
  height: 100%;
  width: auto;
  object-fit: contain;
}

.mw-node {
  display: flex;
  flex-direction: column;
}

.mw-form {
  max-width: var(--content-width-form);
  width: 100%;
}

.mw-form #root {
  max-width: 100%;
  border: 0;
  padding: 0;
}

header .mw-container {
  padding: 0 var(--content-padding-x);
}

.mw-container-footer {
  max-width: var(--content-width);
  margin:auto;
  padding: var(--content-padding-y)  var(--content-padding-x);
}


/* Scroll mode */
.mw-scroll {
  padding: var(--container-padding-y) var(--container-padding-x);
}

.mw-global-bg-image {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.mw-scroll .is-first-node-true.is-full-screen-true {
  /* margin-top: calc(var(--header-height) * -1); */
}


/* Slideshow mode */

.mw-slideshow header {
  position: relative;
}

.mw-slideshow.has-header-true .mw-node {
  margin-top: calc(var(--header-height) * -1);
}

.mw-slideshow .mw-node {
  min-height: 100vh;
  display: flex;
}

.has-background-true {
  background-size: cover;
}

/* Layouts - Center/Left/Right */

.layout-center .mw-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: var(--content-width);
}

.layout-content-left .mw-container,
.layout-content-right .mw-container {
  display: grid;
  gap: var(--grid-gap-small);
  grid-template-columns: 1fr;
  align-content: center;
  justify-content: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.layout-content-left .mw-form,
.layout-content-right .mw-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  width: 100%;
  margin: auto;
}


@media only screen and (min-width: 1025px) {

  .layout-content-left .mw-container,
  .layout-content-right .mw-container {
    grid-template-columns: 1fr 1fr;
    gap: var(--grid-gap-large);
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  .layout-content-left .mw-foreground-image-wrapper {
    /* 2 col */
    grid-column: 2 / 2;
    grid-row: 1 / 1;
  }

  .layout-content-left .mw-n {
    /* 2 col */
    grid-column: 1 / 1;
    grid-row: 1 / 1;
  }

  .layout-content-left .mw-form {
    margin-right: 0;
    margin-left: auto;
  }
}

.layout-content-right .mw-foreground-image-wrapper {
  /* 2 col */
  grid-column: 1 / 1;
  grid-row: 1 / 1;
}

.layout-content-right .mw-n {
  /* 2 col */
  grid-column: 2 / 2;
  grid-row: 2 / 2;
}

/* Buttons */

.mw-container button {
  font-size: 1rem;
  font-weight: 500;
  border-radius: var(--border-radius-button);
  padding: .5em 1.1em;
  background-color: #FFFFFF;
  border: var(--border-width) solid var(--color-dark);
  color: var(--color-dark);
  transition: ease-in-out 200ms all;
}

.mw-container button:hover {
  cursor: pointer;
  background-color: var(--color-text);
  color: #fff;

}

.mw-back {
  margin-right: .5rem;
}

/* Form elements and inputs */

.mw-node fieldset {
  margin: 0;
}

.mw-node legend {
  font-size: 1.8rem;
}

.mw-node .field-description {
  font-size: 1rem;
  margin-top: 10px;
  margin-bottom: 25px;
  opacity: .8;
}

.mw-node .form-group {
  margin: 1rem 0;
  max-width: var(--content-width-form);
}

.mw-node label {
  display: block;
  font-size: .9rem;
  font-weight: 500;
  line-height: 1.5rem;
}

.mw-node .form-group>label {
  margin-bottom: .8em;
  font-size: 1rem;
}

.mw-node .field-string .field-description,
.mw-node .field-integer .field-description {
  font-size: .8rem;
  opacity: .8;
  margin: .2em 0 .8em 0;
}

.mw-node .form-group.field-string input,
.mw-node .form-group.field-integer input,
.mw-node .form-group textarea {
  display: block;
  background-color: #fff;
  border: var(--border-width) solid var(--border-color);
  border-radius: var(--border-radius-input);
  padding: .7em .8em;
  width: 100%;
  max-width: 100%;
  font-size: 1rem;
}

.mw-node select {
  display: block;
  padding: .7em .8em;
  border: none;
  border-radius: var(--border-radius-input);
  width: 100%;
  font-size: 1rem;
}

.mw-node .select-wrapper {
  display: block;
  background-color: #fff;
  border: var(--border-width) solid var(--border-color);
  border-radius: var(--border-radius-input);
  padding-right: 10px;
  width: 100%;
  max-width: 100%;
}

.mw-node select:focus-within {
  outline: none;
}

.mw-node .select-wrapper:focus-within {
  outline: 1px solid var(--color-select);
}

.mw-node textarea {
  resize: vertical;
}

.field-radio-group,
.field-checkbox-group {
  margin-bottom: 45px;
}

.mw-node .field-group-images-true.field-layout-inline {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--grid-gap-default);
  height: 100%;
}

@media only screen and (min-width: 750px) {
  .mw-node .field-group-images-true.field-layout-inline {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.mw-node .field-group-images-true .radio-inline {
  height: 100%;
  align-self: stretch;
  display: block;
}

.mw-node input[type='radio'],
.mw-node input[type='checkbox'] {
  opacity: 0;
  height: 1px;
  width: 1px;
}

.mw-node .field-group-images-false.field-layout-inline .radio-inline,
.mw-node .field-group-images-false.field-layout-inline .checkbox-inline {
  display: inline-block;
}

.mw-node .form-group.field-string .checkbox input {
  display: inline-block;
  width: 100px;
}

.mw-node .field-group-images-false .checkbox,
.mw-node .field-group-images-false .radio label {
  align-items: center;
  background-color: #fff;
  border: var(--border-width) solid var(--border-color);
  border-radius: var(--border-radius-input);
  padding: .7em .8em;
  font-size: .9rem;
  margin-bottom: .3rem;
}

.mw-node .field-group-images-false.field-layout-inline .checkbox,
.mw-node .field-group-images-false.field-layout-inline .radio label {
  margin-right: .5rem;
}

.mw-node .field-group-images-false .checkbox-inline {
  align-items: center;
  background-color: #fff;
  border: var(--border-width) solid var(--color-dark);
  border-radius: var(--border-radius-button);
  padding: .4rem 1.3rem;
  font-size: .9rem;
  margin-right: .3rem;
  margin-bottom: .3rem;
}

.mw-node .field-group-images-false .radio-inline label {
  align-items: center;
  background-color: #fff;
  border: var(--border-width) solid var(--color-dark);
  border-radius: var(--border-radius-button);
  padding: .4rem 1.3rem;
  font-size: .9rem;
  margin-right: .3rem;
  margin-bottom: .3rem;
  transition: ease-in-out 100ms all;
}

.mw-node .field-group-images-false .radio label:not(.disabled):hover,
.mw-node .field-group-images-false .radio-inline label:not(.disabled):hover {
  cursor: pointer;
  background-color: var(--color-light);
}

.mw-node .radio label.disabled:hover,
.mw-node .radio-inline label.disabled:hover,
.mw-node .checkbox.disabled:hover,
.mw-node .checkbox-inline.disabled:hover {
  cursor: default;
}

.mw-node .field-group-images-false input[type='radio']:checked+label {
  background-color: var(--color-select-light);
  border-color: var(--color-select);
  color: var(--color-dark);
}

.mw-node .field-group-images-true label {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: var(--grid-gap-small);
  align-items: center;
  background-color: #fff;
  border: var(--border-width) solid var(--border-color);
  border-radius: var(--border-radius);
  padding: .2rem;
  height: 100%;
}

.mw-node .field-group-images-true input[type='radio']+label {
  transition: ease-in-out 200ms all;
  outline: var(--border-outline) solid transparent;
  outline-offset: calc(var(--border-outline) * -1);
}

.mw-node .field-group-images-true input[type='radio']:checked+label {
  background-color: var(--color-select-light);
  border-color: var(--color-select);
  outline: var(--border-outline) solid var(--color-select);
  outline-offset: calc(var(--border-outline) * -1);
}

.mw-node .field-group-images-true label:hover {
  cursor: pointer;
}

.mw-node .field-group-images-true.field-layout-block {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--grid-gap-default);
}

.mw-node .field-group-images-true img {
  height: 100%;
  width: 65px;
  object-fit: contain;
}

@media only screen and (min-width: 750px) {
  .mw-node .field-group-images-true.field-layout-inline label {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: var(--grid-gap-small);
    align-items: center;
    background-color: #fff;
    border: var(--border-width) solid var(--border-color);
    border-radius: var(--border-radius);
    padding: .85rem;
    height: 100%;
    transition: ease-in-out 100ms all;
  }

  .mw-node .field-group-images-true.field-layout-inline img {
    height: 80px;
    width: 100%;
    object-fit: contain;
  }
}

.mw-node .field-checkbox-group.field-group-images-true {
  display: flex;
  flex-direction: column;
  gap: var(--grid-gap-default);
}

.mw-node .field-checkbox-group.field-group-images-true.field-layout-inline {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--grid-gap-default);
}

@media only screen and (min-width: 750px) {
  .mw-node .field-checkbox-group.field-group-images-true.field-layout-inline {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

/* Adjust  */

.mw-container .checkbox,
.mw-container .checkbox-inline {
  display: inline-block;
  position: relative;
  padding-left: 30px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.mw-container .checkbox {
  display: block;
}

.mw-container .checkbox input,
.mw-container .checkbox-inline input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.mw-container .checkbox input:checked~.checkbox-checkmark,
.mw-container .checkbox-inline input:checked~.checkbox-checkmark {
  background-color: var(--color-select-dark);

}

.mw-container .checkbox .input:checked~.checkbox-checkmark:after,
.mw-container .checkbox-inline .input:checked~.checkbox-checkmark:after {
  opacity: 1;
}

.mw-container .field-group-images-false .checkbox {
  padding-left: 2.4rem;
}

.mw-container .field-group-images-false .checkbox-inline {
  padding-left: 2rem;
}

.mw-container .checkbox .checkbox-checkmark,
.mw-container .checkbox-inline input~.checkbox-checkmark {
  position: absolute;
  top: .65em;
  left: .6em;
  height: 18px;
  width: 18px;
  background-color: #fff;
  border: 1px solid var(--color-medium);
  transition: background-color 100ms ease;
  border-radius: 11px;
}

.mw-container .checkbox input~.checkbox-checkmark {
  top: .9em;
  left: .8em;
  border-radius: 3px;
}

.mw-container .checkbox .checkbox-checkmark:after,
.mw-container .checkbox-inline .checkbox-checkmark:after {
  content: "";
  position: absolute;
  left: 6px;
  top: 3px;
  width: 4px;
  height: 8px;
  border: 1px solid #fff;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  opacity: 0;
  transition: opacity 100ms ease;
}

.mw-container .selected .checkbox-checkmark:after {
  opacity: 1;
}


.mw-node .field-group-images-true.field-layout-block label.selected,
.mw-node .field-group-images-true.field-layout-inline label.selected,
.mw-node .field-group-images-false.field-layout-block label.selected,
.mw-node .field-group-images-false.field-layout-inline label.selected {
  background-color: var(--color-select-light);
  border-color: var(--color-select);
}

.mw-container .checkbox.selected .checkbox-checkmark,
.mw-container .checkbox-inline.selected input~.checkbox-checkmark {
  border-color: var(--color-select-dark);
}


/* Media */

.mw-node .image-container {
  max-width: 100%;
}

.mw-node .image-container img, .mw-node .text-container img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.mw-foreground-image-wrapper {
  max-width: 100%;
  overflow: hidden;
  object-fit: contain;
}

.mw-foreground-image {
  max-width: 100%;
  aspect-ratio: 4/3;
  object-fit: cover;
}

@media only screen and (min-width: 1025px) {
  .mw-foreground-image {
    max-width: 100%;
    aspect-ratio: auto;
    object-fit: contain;
  }
}

