
/* Buttons */

.mw-container button, .mw-container .button {
    font-family: var(--font-family);
    font-size: 1rem;
    font-weight: 500;
    border-radius: var(--border-radius-button);
    padding: .5em 1.1em;
    background-color: #FFFFFF;
    border: var(--border-width) solid var(--color-dark);
    box-shadow: none;
    color: var(--color-dark);
    transition: ease-in-out 200ms all;
    text-decoration: none;
  }
  
  .mw-container button:hover,
  .mw-container .button:hover  {
    cursor: pointer;
    background-color: var(--color-text);
    color: #fff;
  
  }
  
  /* .mw-back {
    margin-right: .5rem;
  } */
  