/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* Variables */
:root {
  --content-width: 1200px;
  --content-width-form: 1000px;
  --header-height: 80px;
  --base-font-size: 16px;
  --font-family: "Open Sans", sans-serif;

  /* Colors */
  --color-dark: #222222;
  --color-text: #222222;
  --color-medium: #e0ded1;
  --color-light: #f8f8f1;
  --color-select: #FF0000;
  --color-select-light: #ffffff;
  --color-select-dark: #FF0000;

  /* Grid spacing */
  --spacing-large: 3rem ;
  --spacing-small: 1rem ;
  --spacing-grids: 5px ;
  --container-padding-x: 1rem ;
  --container-padding-y: 1rem ;

  /* Border */
  --border-width: 1px ;
  --border-radius: 0px ;
  --border-radius-button: 0px ;
  --border-color: #000000 ;

  /* Buttons --> to do */
  --button-text: #222222;
  --button-background: #FF0000;
  --button-bacgkround-hover: #222222;
  --button-text-hover: #222222;
}
