/* Fonts */
@font-face {
  font-family: 'HelveticaNeue-Regular';
  src: url('https://cdn.agilitycms.com/mesca/helveticaneue.eot');
  src: url('https://cdn.agilitycms.com/mesca/helveticaneue.eot?#iefix') format('embedded-opentype'),
    url('https://cdn.agilitycms.com/mesca/helveticaneue.woff') format('woff'),
    url('https://cdn.agilitycms.com/mesca/helveticaneue.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeue-Bold';
  src: url('https://cdn.agilitycms.com/mesca/helveticaneue-bold.eot');
  src: url('https://cdn.agilitycms.com/mesca/helveticaneue-bold.eot?#iefix') format('embedded-opentype'),
    url('https://cdn.agilitycms.com/mesca/helveticaneue-bold.woff') format('woff'),
    url('https://cdn.agilitycms.com/mesca/helveticaneue-bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeueCondensedBold';
  src: url('https://cdn.agilitycms.com/mesca/helveticaneue-condensedbold.eot');
  src: url('https://cdn.agilitycms.com/mesca/helveticaneue-condensedbold.eot?#iefix') format('embedded-opentype'),
    url('https://cdn.agilitycms.com/mesca/helveticaneue-condensedbold.woff') format('woff'),
    url('https://cdn.agilitycms.com/mesca/helveticaneue-condensedbold.ttf') format('truetype');
}

@font-face {
  font-family: 'icomoon';
  src: url('https://cdn.agilitycms.com/mesca/icomoon.eot?yzo55l');
  src: url('https://cdn.agilitycms.com/mesca/icomoon.eot?yzo55l#iefix') format('embedded-opentype'),
    url('https://cdn.agilitycms.com/mesca/icomoon.ttf?yzo55l') format('truetype'),
    url('https://cdn.agilitycms.com/mesca/icomoon.woff?yzo55l') format('woff'),
    url('https://cdn.agilitycms.com/mesca/icomoon.svg?yzo55l#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* @import url('https://fonts.cdnfonts.com/css/nimbus-sans-l'); */


/* Variables */
.mw-journey-container {
  --content-width: 980px;
  --content-width-form: 980px;
  --header-height: 250px;
  --font-size-base: 18px;
  --font-size-base-mobile: 18px;
  --font-family: "HelveticaNeue-Regular", Helvetica, Arial, sans-serif;
  --font-family-bold: "HelveticaNeue-Bold", Helvetica, Arial, sans-serif;

  /* Colors */
  --color-dark: #000000;
  --color-text: #000000;
  --color-medium: #e0ded1;
  --color-light: #F6F6F6;
  --color-focus: #8d8d8d;
  --color-accent: #C40001;
  --color-accent-dark: #C40001;
  --color-select: #C40001;
  --color-select-light: #ffffff;
  --color-select-dark: #C40001;

  /* Grid spacing */
  --grid-gap-large: 3rem;
  --grid-gap-default: 1.8rem;
  --grid-gap-small: .5rem;
  --container-padding-x: 0;
  --container-padding-y: 0;
  --content-padding-x: 0;
  --content-padding-y: 0;

  /* Border */
  --border-width: 1px;
  --border-radius: 0px;
  --border-radius-button: 0px;
  --border-radius-input: 0px;
  --border-color: #000000;
  --border-outline: 2px;

  /* Buttons */
  --button-text: #000000;
  --button-background: #C40001;
  --button-bacgkround-hover: #C40001;
  --button-text-hover: #FFFFFF;
}

/************************** 
Custom mesca styles  
***************************/

body {
  font-size: 18px;
  font-weight: 300;
  letter-spacing: .3px;
  line-height: 1.6;

}

h1,
h2,
h3,
h4,
h5,
h6,
label,
th,
.field-description {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-family: var(--font-family-bold);
  font-size: 48px;
  font-weight: 700;
  margin: 0;
  letter-spacing: 0.01em;
  line-height: 1.2;
  max-width: 100%;
}

/* Fix for really small screens */
@media only screen and (max-width: 350px) {
  h1 {
    font-size: 38px;
  }

}

p {
  font-size: var(--font-size-base);
}

a,
a:visited {
  color: var(--color-accent-dark);
}

strong {
  font-family: var(--font-family-bold);
  font-weight: 700;
}

/* sr only  */

.mw-node-find-by .control-label,
.mw-node-model-number .control-label[for="root_outdoor"],
.mw-node-model-number .control-label[for="root_indoor"] {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.mw-node .form-group>label {
  font-size: 18px;
  font-family: var(--font-family);
  font-weight: 700;
  line-height: 27px;
  letter-spacing: 0.01em;
  margin-bottom: .5rem;
}

.mw-node .mw-container {
  justify-content: flex-start;
  margin-top: 0;
}


.mw-journey-container header {
  position: relative;
  top: 0px;
  padding: 0px 0 10px 0;
  background-color: #fff;
  height: auto;
  z-index: 0;
}

.mesca-page-header {
  position: relative;
  height: 100%;
  max-width: var(--content-width);
}

.mesca-page-header:before {
  content: '';
  position: absolute;
  background-color: var(--color-select);
  width: 4px;
  height: 100%;
  z-index: 2;
}

/* .mesca-page-header>div {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
} */

.mesca-page-header .image-container {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

.mesca-page-header .text-container {
  z-index: 1;
  padding: 20px 30px;
  color: #fff;
  max-width: 650px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.mesca-page-header .text-container h2,
.mesca-page-header .text-container h3,
.mesca-page-header .text-container h4,
.mesca-page-header .text-container p {
  font-family: var(--font-family);
  color: #fff;
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 700;
  line-height: 27px;
  letter-spacing: 0.03em;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, .2);

}

.mesca-page-header .image-container {
  z-index: -1;
  position: absolute;
}

.mesca-page-header .image-container:after {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(90deg, rgba(0, 0, 0, .6) 0%, rgba(0, 0, 0, .6) 30%, rgba(255, 255, 255, 0) 100%);
}

.mesca-page-header .image-container img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  max-width: 100%;
}

.mw-node-find-by .form-group {
  margin-bottom: 0;
}

.mw-node-model-number-form .form-group.field-string:first-of-type,
.mw-node-ahri-number .form-group.field-string:first-of-type {
  z-index: 3;
}

.mw-node-model-number-form .form-group.field-string:nth-of-type(2),
.mw-node-ahri-number .form-group.field-string:nth-of-type(2) {
  z-index: 2;
}

.mw-node-model-number-form .form-group.field-string:nth-of-type(3) {
  z-index: 1;
}

.mw-node-province-or-territory {
  margin-top: 0px;
}

@media only screen and (min-width: 768px) {

  .mw-journey-container header {
    padding: 0px 0 30px 0;
  }

}

/* Buttons */

.mw-container button,
.mw-container .button {
  font-family: var(--font-family-bold);
  padding: .5em 1.3em;
  line-height: 1.5;
  font-weight: 500;
  font-size: 18px;
  transition: ease-in-out 100ms all;
  outline: var(--border-outline) solid transparent;
  outline-offset: calc(var(--border-outline) * -1);
}

.button:focus-visible {
  outline-offset: calc(var(--border-outline) );
}

.mw-container .button-primary {
  background-color: var(--button-background);
  border-color: var(--button-background);
  color: #fff;
  opacity: 1;
  transition: ease-in-out 200ms all;
}

.button-primary:hover {
  border: 1px solid var(--color-dark);
  background-color: var(--color-dark);
    }

button:focus-visible, a:focus-visible, .button:focus-visible{
  border-radius: 0;
  outline: var(--border-outline) solid var(--color-focus);
  outline-offset: calc(var(--border-outline));
}

.button-primary:focus-visible {
  border-radius: 0;
  outline: var(--border-outline) solid var(--color-focus);
  outline-offset: calc(var(--border-outline));
}


/* Form Fields */

.mw-form {
  margin-top: 15px;
}

.mw-form .required {
  display: none;
}

@media only screen and (min-width: 768px) {
  .mw-node .field-group-images-true.field-layout-inline {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media only screen and (min-width: 980px) {
  .mw-node .field-group-images-true.field-layout-inline {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: var(--grid-gap-default);
    grid-gap: var(--grid-gap-default);
  }
}

.mw-node .field-group-images-true.field-layout-inline label {
  text-align: center;
  padding: .3rem .5rem;
  font-weight: 300;
  letter-spacing: 0.02em;
  line-height: 27px;
  font-size: 18px;
  transition: ease-in-out 150ms all;
  display: flex;
  align-items:center;
  gap: 0;
}

.mw-node .field-group-images-true.field-layout-inline label .label-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  text-align: left;
}


#root_energy_star_cert label {
  text-align: left;
  padding: .3rem .5rem;
  font-weight: 300;
  letter-spacing: 0.02em;
  line-height: 27px;
  font-size: 18px;
  transition: ease-in-out 150ms all;
  display: block;
}



.mw-form .mw-node-products-form .label-content {
  display: flex;
  justify-content: flex-start;
  flex-direction: row-reverse;
  align-items: flex-end;
  height: 100%;
  margin-top: 0;
}


.mw-node .field-layout-inline img {
  max-height: 48px;
  width: auto;
  object-fit: contain;
  margin-right: 10px;
  margin-left: 10px;
}

@media only screen and (min-width: 768px) {

  .mw-node .field-group-images-true.field-layout-inline label .label-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
  }

  #root_energy_star_cert label .label-content {
    text-align: left;
  }
}

/* .mw-node .field-group-images-false label:not(.disabled):not(.selected-true):hover,
.field-group-images-true label:not(.disabled):not(.selected-true):hover {
  background-color: var(--color-light);
  border-color: var(--color-select);
  outline: var(--border-outline) solid var(--color-select);
  outline-offset: calc(var(--border-outline) * -1);
  cursor: pointer;
} */

/* .mw-node input[type='radio']:hover+label.disabled {
  background-color: white;
  border-color: black;
  outline-color: transparent;
} */

.mw-node .field-radio-group label {
  border-color: black;
  outline: var(--border-outline) solid transparent;
  outline-offset: calc(var(--border-outline) * -1);
  transition: ease-in-out 100ms all; 
}

.mw-node .field-radio-group label.selected-true {
  border-color: var(--color-select);
  outline: var(--border-outline) solid var(--color-select);
  outline-offset: calc(var(--border-outline) * -1);
  transition: ease-in-out 100ms all; 
}

.mw-node .field-radio-group label:hover, 
.mw-node .field-radio-group label:focus {
  border-color: var(--color-select);
  outline: var(--border-outline) solid var(--color-select);
  outline-offset: calc(var(--border-outline) * -1);
  background-color: var(--color-light);
  cursor: pointer;
}


.mw-node .field-radio-group label.selected-true:hover {
  border-color: var(--color-select);
  outline: var(--border-outline) solid var(--color-select);
  outline-offset: calc(var(--border-outline) * -1);
  background-color: transparent;
}

.mw-node .field-radio-group .selected-false.disabled:hover {
  border-color: black;
  outline: none;
  background-color: transparent;
}


/* .mw-node .field-group-images-false label.selected-true {
  border-color: var(--color-select);
  outline: var(--border-outline) solid var(--color-select);
  outline-offset: calc(var(--border-outline) * -1);
}

.mw-node .field-group-images-false label:focus {
  border-color: var(--color-select);
} */

.mw-node .form-group {
  margin-top: 0;
}

.mw-node-find-by-form .form-group {
  margin-bottom: 0;
}

.results-container {
  margin-bottom: 20px;
}

.results-container a {
  word-break: break-all;
}

#root_outdoor__description {
  font-size: 18px;
  font-weight: 700;
  color: var(--color-text);
  opacity: 1;
}

#root_outdoor__description:after {
  content: '';
}

.mw__control--menu-is-open .mw__dropdown-indicator {
  transform: rotate(180deg);
}

/* what kind of hvac do you have */

.field-radio-group {
  display: grid;
  gap: 3px;
}

#root_hvac_type {
  grid-template-columns: 1fr;
}

#root_cold_climate {
  grid-template-columns: 1fr;
}

#root_hvac_type label,
#root_cold_climate label,
#root_energy_star_cert label {
  font-size: 18px;
  font-weight: 300;
  padding: 21px;
  text-align: left;

}

#root_hvac_type .label-description,
#root_cold_climate .label-description,
#root_energy_star_cert .label-description {
  font-size: 14px;
  opacity: .75;
  margin-top: 10px;
  margin-bottom: 0;
  line-height: 1.5;
  letter-spacing: 3%;
  text-align: left;
}

.mw-form:not(.mw-node-find-by-form) .label-content {
  position: relative;
  margin-top: 35px;


}

.mw-form:not(.mw-node-find-by-form) .label-content:before{
    content: '';
    height: 25px;
    width: 25px;
    border-radius: 50%;
    border: 2px solid #E1E1E1;
    position: absolute;
    opacity: 1;
    display: block;
    top: -37px;
    left: 0;
}

.mw-form:not(.mw-node-find-by-form) .selected-true .label-content:before{
  border: 2px solid var(--color-select);
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" style="fill: %23C40001;" viewBox="0 0 512 512"><path d="M256 48a208 208 0 1 1 0 416 208 208 0 1 1 0-416zm0 464A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM369 209c9.4-9.4 9.4-24.6 0-33.9s-24.6-9.4-33.9 0l-111 111-47-47c-9.4-9.4-24.6-9.4-33.9 0s-9.4 24.6 0 33.9l64 64c9.4 9.4 24.6 9.4 33.9 0L369 209z"/></svg>');
  background-repeat: no-repeat;
  background-size: cover;
  border: 0;
  height: 26px;
  width: 26px;
}

.mw-node .field-group-images-true .radio-inline .label-content {
  text-align: left;
}

@media only screen and (min-width: 768px) {
  #root_energy_star_cert {
    grid-template-columns: 1fr 1fr;
  }
}


#root_energy_star_cert img {
  max-height: 100px;
  height: 100px;
  margin-right: 0;
  margin-top: -35px;
  width: auto;
}

.mw-node .field-group-images-false .radio-inline label {
  margin-right: 0;
  margin-bottom: 0;
}

#root_energy_star_cert .label-content{
  display: flex;
  flex-direction: row-reverse;

}

/* #root_energy_star_cert label {
  margin-right: .3rem;
  margin-bottom: .3rem;
} */


@media only screen and (min-width: 768px) {

  .mw-node .field-group-images-true.field-layout-inline label {
    justify-content: center;
    text-align: center;
  }

  .mw-node .field-group-images-true.field-layout-inline img {
    margin-right: auto;
    margin-left: auto;
  }

  .mw-node-model-number .form-group.field.field-string:nth-of-type(2),
  .mw-node-model-number .form-group.field.field-string:nth-of-type(3) {
    display: inline-block;
    width: calc(100%/2 - 10px);
    position: relative;
  }

  #root_indoor {
    display: block;
    margin-left: 20px;
  }

  #root_hvac_type {
    grid-template-columns: 1fr 1fr 1fr;
  }

  #root_cold_climate {
    grid-template-columns: 1fr 1fr;
  }


  .mw-node-model-number .form-group.field.field-string:nth-child(3) {
    margin-left: 20px;

  }

  .mw-node .field-group-images-true.field-layout-inline label {
    padding: .5rem .85rem;
  }

}

ul.error-detail {
  position: relative;
}

ul.error-detail .text-danger {
  color: var(--button-background);
  font-size: 14px;
}

@media only screen and (min-width: 768px) {
  #root_indoor__error {
    position: absolute;
    top: 40px;
    left: 0;
  }
}

/* Content boxes */

.results-container h2 {
  font-size: 32px;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 0;
}


.results-container h2 .selected-rebate {
  font-size: 32px;
  font-weight: 500;
  border-radius: 4px;
  border: 1.5px solid #dedede;
  padding: 3px 12px 3px 12px;
  margin-left: 0px;
  line-height: 1.2;
  display: flex;
  justify-content: center;
  height: 100%;
}

.provice-rebates-header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0 2rem;
}

.provice-rebates-header .button {
  margin-top: -10px;
  margin-bottom: 20px;
}

.results-container p {
  font-weight: 300;
}

.results-by-province {
  background-color: #f6f6f6;
  padding: 20px 40px;
  max-width: 100%;
}


.results-container .result.grid-2 {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  grid-gap: 20px;
}

.result-card {
  background-color: #f6f6f6;
  padding: 30px 30px;
  display: flex;
  flex-direction: column;
}


.product-details.result-card p {
  margin-top: 10px;
  margin-bottom: 0px;
}

.product-details {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  grid-gap: 20px;
}

.product-details .button-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.product-details button.button-primary:hover {
  background-color: var(--color-dark);
  border-color: var(--color-dark);
}

.result-card p:first-letter {
  text-transform: uppercase;
}

.result-card .external-link {
  background-color: #000;
  color: #fff;
  padding: .5em 1.2em;
  text-decoration: none;
  opacity: 1;
  line-height: 27px;
  letter-spacing: 0.01em;
  font-weight: 500;
  margin-top: auto;
  transition: ease-in-out 200ms all;
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  align-self: flex-start;
  font-size: 15px;
}

.result-card .button.external-link:hover {
  opacity: .8;
}

.button.external-link:after {
  content: ' ';
  position: relative;
  height: 20px;
  width: 14px;
  margin-left: 8px;
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" style="fill: %23ffffff;" viewBox="0 0 512 512"><path d="M320 0c-17.7 0-32 14.3-32 32s14.3 32 32 32h82.7L201.4 265.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L448 109.3V192c0 17.7 14.3 32 32 32s32-14.3 32-32V32c0-17.7-14.3-32-32-32H320zM80 32C35.8 32 0 67.8 0 112V432c0 44.2 35.8 80 80 80H400c44.2 0 80-35.8 80-80V320c0-17.7-14.3-32-32-32s-32 14.3-32 32V432c0 8.8-7.2 16-16 16H80c-8.8 0-16-7.2-16-16V112c0-8.8 7.2-16 16-16H192c17.7 0 32-14.3 32-32s-14.3-32-32-32H80z"/></svg>');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.result-card h6 {
  font-family: var(--font-family-bold);
  font-weight: 700;
  margin: 0;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.03em;
}

.result-card p {
  margin: 15px 0;
  font-size: 18px;
  font-weight: 300;
  line-height: 27px;
  letter-spacing: 0.02em;
}

.rebate-details {
  margin-bottom: 15px;
}

.rebate-details p {
  margin: 0;
}

/* 
.result-card .rebate-status {

} */

.result-card .rebate-status.available {
  font-family: var(--font-family-bold);
  font-size: 21px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0.01em;
  color: #197b00;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.result-card .rebate-status.available::before {
  content: ' ';
  position: relative;
  height: 20px;
  width: 20px;
  margin-right: 8px;
  margin-top: 0px;
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" style="fill: %23197b00;" viewBox="0 0 512 512"><path d="M256 48a208 208 0 1 1 0 416 208 208 0 1 1 0-416zm0 464A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM369 209c9.4-9.4 9.4-24.6 0-33.9s-24.6-9.4-33.9 0l-111 111-47-47c-9.4-9.4-24.6-9.4-33.9 0s-9.4 24.6 0 33.9l64 64c9.4 9.4 24.6 9.4 33.9 0L369 209z"/></svg>');
  /* background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" style="fill: %233BB41D;" viewBox="0 0 512 512"><path d="M256 48a208 208 0 1 1 0 416 208 208 0 1 1 0-416zm0 464A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM369 209c9.4-9.4 9.4-24.6 0-33.9s-24.6-9.4-33.9 0l-111 111-47-47c-9.4-9.4-24.6-9.4-33.9 0s-9.4 24.6 0 33.9l64 64c9.4 9.4 24.6 9.4 33.9 0L369 209z"/></svg>'); */
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.text-container h3 {
  font-size: 32px;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 30px;
}

.content-first .text-container,
.content-second .text-container {
  display: grid;
  gap: var(--grid-gap-default);
  grid-template-columns: 1fr;
  padding-top: 35px;
  padding-bottom: 35px;
}

.video-container .video-container-inner {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  height: 0;
  overflow: hidden;
}

.video-container .video-container-inner iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media only screen and (min-width: 768px) {

  .results-container h2 {
    flex-direction: row;
    align-items: center;
  }

  .results-container h2 .selected-rebate-label {
    margin-right: 10px;
  }

  .provice-rebates-header {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0;
  }



  .provice-rebates-header .button {
    margin-top: 5px;
    margin-bottom: 0;
  }


  .results-container .result.grid-2 {
    grid-template-columns: 1fr;
  }

  .product-details {
    grid-template-columns: 1fr 1fr;
    gap: var(--grid-gap-default);
    grid-gap: var(--grid-gap-default);
  }

  .product-details .button-container {
    justify-content: flex-start;
  }

}


@media only screen and (min-width: 1025px) {

  .product-details {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .product-details .button-container {
    justify-content: flex-end;
  }

  .content-first .text-container {
    grid-template-columns: 5fr 4fr;
  }

  .content-second .text-container {
    grid-template-columns: 4fr 5fr;
  }

  .content-first .text-container>div:first-of-type {
    grid-column: 2 / 2;
    grid-row: 1 / 1;
  }

  .content-second .text-container>div:first-of-type {
    grid-column: 1 / 1;
    grid-row: 1 / 1;
  }

  .content-first .text-container>div:nth-of-type(2) {
    grid-column: 1 / 1;
    grid-row: 1 / 1;
  }

  .content-second .text-container>div:nth-of-type(2) {
    grid-column: 2 / 2;
    grid-row: 1 / 1;
  }

}



.mw-node-province-territory-rebates .mw-next-and-back,
.mw-rebate-results-ahri .mw-next-and-back,
.mw-node-rebate-results-model-form .mw-next-and-back,
.mw-node-rebate-results-product-form .mw-next-and-back {
  display: none;

}

.next-and-back-hidden-false {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  gap: var(--grid-gap-small);
  margin-top: 32px;
}

@media only screen and (min-width: 768px) {
  .next-and-back-hidden-false {
    justify-content: flex-end;
    flex-direction: row;
    gap: 16px;
  }
}

.singleChoiceField-true,
.next-and-back-hidden-true {
  display: none;
}


.mw-next-and-back button {
  margin-bottom: .5rem;
  width: 100%;
}


.mw-back {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.mw-back:after {
  content: ' ';
  position: relative;
  height: 16px;
  width: 16px;
  margin-left: 8px;
  background-color: black;
  -webkit-mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M94 187.1C120.8 124.1 183.3 80 256 80c39.7 0 77.8 15.8 105.9 43.9L414.1 176H360 336v48h24H472h24V200 88 64H448V88v54.1L395.9 89.9C358.8 52.8 308.5 32 256 32C163.4 32 83.9 88.2 49.8 168.3L94 187.1zM64 369.9l52.1 52.1C153.2 459.2 203.5 480 256 480c92.5 0 171.8-56 206-135.9l-44.1-18.9C391 388.1 328.6 432 256 432c-39.7 0-77.8-15.8-105.9-43.9L97.9 336H152h24V288H152 40 16v24V424v24H64V424 369.9z"/></svg>');
  mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M94 187.1C120.8 124.1 183.3 80 256 80c39.7 0 77.8 15.8 105.9 43.9L414.1 176H360 336v48h24H472h24V200 88 64H448V88v54.1L395.9 89.9C358.8 52.8 308.5 32 256 32C163.4 32 83.9 88.2 49.8 168.3L94 187.1zM64 369.9l52.1 52.1C153.2 459.2 203.5 480 256 480c92.5 0 171.8-56 206-135.9l-44.1-18.9C391 388.1 328.6 432 256 432c-39.7 0-77.8-15.8-105.9-43.9L97.9 336H152h24V288H152 40 16v24V424v24H64V424 369.9z"/></svg>');
  mask-repeat: no-repeat;
  mask-size: contain;
  mask-position: center;
  /* transform: rotate(125deg); */
  transition: ease-in-out 200ms all;
}

.mw-back:hover:after {
  background-color: white;
}


@media only screen and (min-width: 576px) {
  .mw-next-and-back button {
    margin-bottom: 0;
    width: auto;
  }
}

/* Hide form when results show  */
.mw-journey-container.mw-rebate-results-ahri .mw-node-find-by,
.mw-journey-container.mw-rebate-results-ahri .mw-node-model-number,
.mw-journey-container.mw-rebate-results-ahri .mw-node-ahri-number-form,
.mw-journey-container.mw-rebate-results-ahri .mw-node-province-or-territory-form,
.mw-journey-container.mw-province-territory-rebates .mw-node-find-by,
.mw-journey-container.mw-province-territory-rebates .mw-node-province-or-territory-form,
.mw-journey-container.mw-rebate-results-model .mw-node-find-by,
.mw-journey-container.mw-rebate-results-model .mw-node-model-number,
.mw-journey-container.mw-rebate-results-model .mw-node-ahri-number-form,
.mw-journey-container.mw-rebate-results-model .mw-node-province-or-territory-form,
.mw-rebate-results-product .mw-node-find-by.has-response-true,
.mw-rebate-results-product .mw-node-products-form.has-response-true {
  display: none;
}

.mw-journey-container.mw-model-number .radio-inline.selected-false,
.mw-journey-container.mw-ahri-number .radio-inline.selected-false,
.mw-journey-container.mw-province-or-territory .radio-inline.selected-false {
  display: none;
}

.field-radio-group {
  margin-bottom: 45px;
}

@media only screen and (min-width: 768px) {

  .mw-journey-container.mw-model-number .radio-inline.selected-false,
  .mw-journey-container.mw-ahri-number .radio-inline.selected-false,
  .mw-journey-container.mw-province-or-territory .radio-inline.selected-false {
    display: block;
  }

  .field-radio-group {
    margin-bottom: 35px;
    gap: var(--grid-gap-default);
  }

}

.table-rebates-header {
  align-items: flex-start;
}

.mw-rebate-results-product .table-rebates-header h2 {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 0;

}

.mw-rebate-results-product .table-rebates-header h2,
.mw-rebate-results-product .table-rebates-header span {
  font-size: 20px;

}

.table-rebates-header .selected-rebate-group {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  margin-top: 10px;
  margin-right: 5px;
}

.table-rebates-header .selected-rebate-group span {
  margin-right: 5px;
  margin-bottom: 5px;
  margin-top: 5px;
  font-size: 20px;
  font-weight: 700;

}

.table-rebates-header .button {
  margin: 10px 0;
}

@media only screen and (min-width: 768px) {

  .table-rebates-header {
    align-items: center;
  }


  .table-rebates-header .selected-rebate-group {
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .table-rebates-header .button {
    margin: 0;
  }
}

/* Results table  */

table {
  border-collapse: collapse;
  width: 100%;
  display: none;
}


tr {
  gap: 20px;
  width: 100%;
}

td,
th {
  text-align: left;
  padding: 16px 20px;
}

td {
  vertical-align: baseline
}

thead {
  display: table-header-group;
  position: sticky;
  background-color: white;
  top: 0; 
  z-index: 100;
}

thead th {
  font-size: 12px;
  text-transform: uppercase;

  vertical-align: bottom;
}

@media only screen and (min-width:980px) {
  thead th {
    min-width: 140px;
  }
}


tbody tr:nth-child(odd) {
  background-color: #F6F6F6;
}

tbody tr:nth-child(even) {
  background-color: #ffffff;
}

table .available {
  display: grid;
  justify-content: flex-start;
  align-items: flex-start;
  grid-template-columns: 1fr 7fr;
}

table .available:before {
  content: ' ';
  position: relative;
  font-size: 20px;
  font-family: var(--font-family-bold);
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0.01em;
  color: #197b00;
  height: 20px;
  width: 20px;
  object-fit: contain;
  margin-right: 8px;
  margin-top: 0px;
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" style="fill: %23197b00;" viewBox="0 0 512 512"><path d="M256 48a208 208 0 1 1 0 416 208 208 0 1 1 0-416zm0 464A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM369 209c9.4-9.4 9.4-24.6 0-33.9s-24.6-9.4-33.9 0l-111 111-47-47c-9.4-9.4-24.6-9.4-33.9 0s-9.4 24.6 0 33.9l64 64c9.4 9.4 24.6 9.4 33.9 0L369 209z"/></svg>');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.unavail {
  display: block;
  width: 16px;
  height: 1px;
  background-color: black;
}

.card-list {
  display: block;
  margin-left: 0;
  padding-left: 0;
}

.card-list li {
  list-style: none;
  margin-left: 0;
  padding: 35px 25px;
}

.card-list li:nth-child(odd) {
  background-color: #F6F6F6;
}

.card-list li:nth-child(even) {
  background-color: #FFFFFF;
}

.card-list li h5 {
  margin: 0;
  font-size: 20px;
}

.card-list li p {
  font-size: 14px;
  font-weight: 300;
  margin: 0;
}

.card-list .rebate-list-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  padding-top: 32px;
  gap: var(--grid-gap-small);
}

.card-list .rebate-list-item p {
  font-weight: 700;
  text-transform: uppercase;
}

.card-list p.rebate-list-item-result {
  display: flex;
  gap: 10px;
  justify-content: flex-start;
  align-items: center;
  font-weight: 300;
  text-transform: capitalize;
  font-size: 14px;
}

.rebate-list-item .available {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.rebate-list-item .available:before {
  content: ' ';
  position: relative;
  font-size: 20px;
  font-family: var(--font-family-bold);
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0.01em;
  color: #197b00;
  height: 20px;
  width: 20px;
  min-width: 20px;
  object-fit: contain;
  margin-right: 8px;
  margin-top: 0px;
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" style="fill: %23197b00;" viewBox="0 0 512 512"><path d="M256 48a208 208 0 1 1 0 416 208 208 0 1 1 0-416zm0 464A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM369 209c9.4-9.4 9.4-24.6 0-33.9s-24.6-9.4-33.9 0l-111 111-47-47c-9.4-9.4-24.6-9.4-33.9 0s-9.4 24.6 0 33.9l64 64c9.4 9.4 24.6 9.4 33.9 0L369 209z"/></svg>');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

@media only screen and (min-width: 576px) {
  .card-list .rebate-list-item {
    flex-direction: row;
    gap: var(--grid-gap-large);
    padding-top: 32px;
  }

  .card-list .rebate-list-item p {
    width: 50%;
  }
}


@media only screen and (min-width: 980px) {
  table {
    display: table;
  }

  .card-list {
    display: none;
  }

}

.no-results {
  padding-left: var(--grid-gap-default);
}

@media only screen and (min-width: 980px) {
  .no-results {
    padding: var(--grid-gap-default) 0;
  }
}

/* Footer  */

.mw-container-footer {
  max-width: 100%;
  margin: auto;
  padding: 0;
}

.mw-container-footer p,
.mw-container-footer .powered-by {
  max-width: var(--content-width);
  padding: var(--content-padding-y) var(--content-padding-x);
}

.restart-options .text-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  grid-gap: 10px;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 65px;
}

.button.find-a-dealer,
.button.share,
.button.restart,
.button.check-model {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.button.check-model {
  background-color: var(--button-background);
  border-color: var(--button-background);
  color: #fff;
}

.button.check-model:hover {
  border-color: #000;
}

.button.find-a-dealer:after {
  content: ' ';
  position: relative;
  height: 20px;
  width: 14px;
  margin-left: 8px;
  background-color: black;
  -webkit-mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512"><path d="M215.7 499.2C267 435 384 279.4 384 192C384 86 298 0 192 0S0 86 0 192c0 87.4 117 243 168.3 307.2c12.3 15.3 35.1 15.3 47.4 0zM192 128a64 64 0 1 1 0 128 64 64 0 1 1 0-128z"/></svg>');
  mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512"><path d="M215.7 499.2C267 435 384 279.4 384 192C384 86 298 0 192 0S0 86 0 192c0 87.4 117 243 168.3 307.2c12.3 15.3 35.1 15.3 47.4 0zM192 128a64 64 0 1 1 0 128 64 64 0 1 1 0-128z"/></svg>');
  mask-repeat: no-repeat;
  mask-size: contain;
  mask-position: center;
  transition: ease-in-out 200ms all;
}

.button.find-a-dealer:hover:after {
  background-color: white;
}

.button.share:after {
  content: ' ';
  position: relative;
  height: 20px;
  width: 20px;
  margin-left: 8px;
  background-color: black;
  -webkit-mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M448 128c0 53-43 96-96 96c-28.9 0-54.8-12.8-72.4-33l-89.7 44.9c1.4 6.5 2.1 13.2 2.1 20.1s-.7 13.6-2.1 20.1L279.6 321c17.6-20.2 43.5-33 72.4-33c53 0 96 43 96 96s-43 96-96 96s-96-43-96-96c0-6.9 .7-13.6 2.1-20.1L168.4 319c-17.6 20.2-43.5 33-72.4 33c-53 0-96-43-96-96s43-96 96-96c28.9 0 54.8 12.8 72.4 33l89.7-44.9c-1.4-6.5-2.1-13.2-2.1-20.1c0-53 43-96 96-96s96 43 96 96zM96 304a48 48 0 1 0 0-96 48 48 0 1 0 0 96zM400 128a48 48 0 1 0 -96 0 48 48 0 1 0 96 0zM352 432a48 48 0 1 0 0-96 48 48 0 1 0 0 96z"/></svg>');
  mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M448 128c0 53-43 96-96 96c-28.9 0-54.8-12.8-72.4-33l-89.7 44.9c1.4 6.5 2.1 13.2 2.1 20.1s-.7 13.6-2.1 20.1L279.6 321c17.6-20.2 43.5-33 72.4-33c53 0 96 43 96 96s-43 96-96 96s-96-43-96-96c0-6.9 .7-13.6 2.1-20.1L168.4 319c-17.6 20.2-43.5 33-72.4 33c-53 0-96-43-96-96s43-96 96-96c28.9 0 54.8 12.8 72.4 33l89.7-44.9c-1.4-6.5-2.1-13.2-2.1-20.1c0-53 43-96 96-96s96 43 96 96zM96 304a48 48 0 1 0 0-96 48 48 0 1 0 0 96zM400 128a48 48 0 1 0 -96 0 48 48 0 1 0 96 0zM352 432a48 48 0 1 0 0-96 48 48 0 1 0 0 96z"/></svg>');
  mask-repeat: no-repeat;
  mask-size: contain;
  mask-position: center;
  transition: ease-in-out 200ms all;
}

.button.share:hover:after {
  background-color: white;
}

.button.restart:after {
  content: ' ';
  position: relative;
  height: 18px;
  width: 18px;
  margin-left: 8px;
  background-color: black;
  -webkit-mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M94 187.1C120.8 124.1 183.3 80 256 80c39.7 0 77.8 15.8 105.9 43.9L414.1 176H360 336v48h24H472h24V200 88 64H448V88v54.1L395.9 89.9C358.8 52.8 308.5 32 256 32C163.4 32 83.9 88.2 49.8 168.3L94 187.1zM64 369.9l52.1 52.1C153.2 459.2 203.5 480 256 480c92.5 0 171.8-56 206-135.9l-44.1-18.9C391 388.1 328.6 432 256 432c-39.7 0-77.8-15.8-105.9-43.9L97.9 336H152h24V288H152 40 16v24V424v24H64V424 369.9z"/></svg>');
  mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M94 187.1C120.8 124.1 183.3 80 256 80c39.7 0 77.8 15.8 105.9 43.9L414.1 176H360 336v48h24H472h24V200 88 64H448V88v54.1L395.9 89.9C358.8 52.8 308.5 32 256 32C163.4 32 83.9 88.2 49.8 168.3L94 187.1zM64 369.9l52.1 52.1C153.2 459.2 203.5 480 256 480c92.5 0 171.8-56 206-135.9l-44.1-18.9C391 388.1 328.6 432 256 432c-39.7 0-77.8-15.8-105.9-43.9L97.9 336H152h24V288H152 40 16v24V424v24H64V424 369.9z"/></svg>');
  mask-repeat: no-repeat;
  mask-size: contain;
  mask-position: center;
  transition: ease-in-out 200ms all;
}

.button.restart:hover:after {
  background-color: white;
}


.button.check-model:after {
  content: ' ';
  position: relative;
  height: 20px;
  width: 20px;
  margin-left: 8px;
  background-color: #ffffff;
  -webkit-mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" style="fill: %23ffffff;" viewBox="0 0 512 512"><path d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM369 209L241 337c-9.4 9.4-24.6 9.4-33.9 0l-64-64c-9.4-9.4-9.4-24.6 0-33.9s24.6-9.4 33.9 0l47 47L335 175c9.4-9.4 24.6-9.4 33.9 0s9.4 24.6 0 33.9z"/></svg>');
  mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" style="fill: %23ffffff;" viewBox="0 0 512 512"><path d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM369 209L241 337c-9.4 9.4-24.6 9.4-33.9 0l-64-64c-9.4-9.4-9.4-24.6 0-33.9s24.6-9.4 33.9 0l47 47L335 175c9.4-9.4 24.6-9.4 33.9 0s9.4 24.6 0 33.9z"/></svg>');
  mask-repeat: no-repeat;
  mask-size: contain;
  mask-position: center;
  transition: ease-in-out 200ms all;
}

.button.check-model:hover:after {
  background-color: #ffffff;
}

.footer {
  margin-top: 45px;
}

.mw-container-footer p,
.mw-container-footer a {
  font-size: 14px;
  line-height: 1.5;
  font-weight: 300;

}

.footer p {
  color: rgba(0, 0, 0, .75);
}

.footer .powered-by {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  color: #666666;
  font-weight: 300;
  margin-top: 65px;
  margin-bottom: 65px;
}

.footer .powered-by img {
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  width: auto;
  height: 32px;
}

.footer .where-to-buy {
  background-color: var(--button-background);
  min-height: 180px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  padding: 40px 40px;
}

.footer .where-to-buy h4 {
  font-family: 'HelveticaNeueCondensedBold', "Helvetica Neue", "Helvetica", sans-serif;
  color: #fff;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
  letter-spacing: 0.01em;
  margin: 0;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, .2);
}

.footer .where-to-buy label {
  font-family: var(--font-family-bold);
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  letter-spacing: 0.01em;
  color: #fff;
}

.findDealerForm {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 8px;
}

.findDealerForm input {
  background-color: #fff;
  border: var(--border-width) solid var(--border-color);
  border-radius: var(--border-radius-input);
  outline: 0 solid var(--border-color);
  padding: .8em .8em;
  max-width: 100%;
  font-size: 18px;
  font-weight: 300;
  line-height: 1;
  width: 100%;
  height: 50px;
}

.findDealerForm input:focus-visible {
  outline: var(--border-outline) solid var(--color-focus);
  outline-offset: calc(var(--border-outline));
}

.product-selection .findDealerForm input,
.product-selection .findDealerForm button {
  padding: .6em .5em .5em .5em;
  height: 48px;
  font-size: 18px;
  width: 100%;
  max-width: 190px;
}

.findDealerForm button {
  font-family: var(--font-family-bold);
  font-size: 18px;
  font-weight: 500;
  line-height: 1;
  letter-spacing: 0.01em;
  border-radius: var(--border-radius-button);
  padding: .7em .8em;
  background-color: var(--color-dark);
  border: var(--border-width) solid var(--color-dark);
  outline: 0 solid var(--color-dark);
  box-shadow: none;
  color: #fff;
  transition: ease-in-out 200ms all;
  text-decoration: none;
  width: 100%;
  height: 50px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-top: 8px;
}

.findDealerForm button:focus-visible {
  outline: var(--border-outline) solid var(--color-focus);
  outline-offset: calc(var(--border-outline));
}


.findDealerForm button:after {
  content: ' ';
  position: relative;
  height: 18px;
  width: 18px;
  margin-left: 8px;
  background-color: var(--color-select-dark);
  -webkit-mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512"><path d="M384 256L0 32V480L384 256z"/></svg>');
  mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512"><path d="M384 256L0 32V480L384 256z"/></svg>');
  mask-repeat: no-repeat;
  mask-size: contain;
  mask-position: center;
  transition: ease-in-out 200ms all;
}

.findDealerForm button:hover {
  cursor: pointer;
}

.product-selection .where-to-buy {
  display: none;
}

.mw-container-footer {
  max-width: var(--content-width);
  margin: auto;
  padding: 0 var(--content-padding-x) 45px var(--content-padding-x);
}

@media only screen and (min-width: 768px) {

  .mw-container-footer p,
  .mw-container-footer .powered-by {
    max-width: 100%;
    padding: 0;
  }

  .footer .findDealerForm {
    flex-direction: row;
  }

  .footer .findDealerForm button {
    margin-top: 0;
    margin-left: 2px;
  }

  .footer .where-to-buy {
    grid-template-columns: 1fr 1fr;
  }

  .footer input,
  .footer button {
    width: auto;
  }
}

@media only screen and (min-width: 1025px) {

  .mw-container-footer {
    max-width: var(--content-width);
    margin: auto;
    padding: var(--content-padding-y) var(--content-padding-x);
  }

  .results-container .result.grid-2 {
    grid-template-columns: 1fr 1fr 1fr;

  }

  .restart-options .text-container {
    flex-direction: row;
  }

  .restart-options-fr .text-container {
    flex-direction: column;
  }


  .product-selection {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 20px;
  }


  .product-selection .where-to-buy {
    display: block;
  }

  .product-selection h2 {
    margin-bottom: 0;
  }

  .product-selection .findDealerForm {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 3px;
    gap: 10px;
    grid-gap: 10px;
  }

  .product-selection .where-to-buy button {
    margin-top: 0;
  }

  .footer .where-to-buy {
    display: none;
  }

  .mw-rebate-results-product .footer .where-to-buy,
  .mw-province-territory-rebates .footer .where-to-buy {
    display: grid;
  }

}

/* React select overrides */

.css-1f43avz-a11yText-A11yText,
.css-7pg0cj-a11yText,
.css-b62m3t-container>span {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.mw-node-find-by-form.has-response-true .radio-inline.selected-false {
  opacity: 0.3;
  cursor: not-allowed;
}
.select-mw__control {
  outline: var(--border-outline) solid transparent;
  outline-offset: calc(var(--border-outline) * -1);
  transition: ease-in-out 150ms all;
}

.select-mw__control--menu-is-open, .select-mw__control--is-focused  {
  border: 1px solid var(--color-select) !important;
  outline: var(--border-outline) solid var(--color-select) !important;
  outline-offset: calc(var(--border-outline) * -1);
}


/**********************************************
 Style non-searchable react select inputs. 
 Hide when React Select Search is enabled 
 **********************************************/
.mw-node .form-group.field-string .select-mw__value-container input {
  padding: .5em .8em;
}

.select-mw__value-container input {
  background: 0px center;
  border: 0px;
  caret-color: transparent;
  font-size: inherit;
  grid-area: 1 / 1 / 2 / 3;
  outline: 0px;
  padding: 0px;
  width: 1px;
  color: transparent;
  left: -100px;
  opacity: 0;
  position: relative;
  transform: scale(0.01);
}

/***************************************/